{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'blog_post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="info">
                <span class="date">created: {{ post.created_date|date:'d-m-Y' }}</span>
                <div class="fixed"></div>
            </div>
            <div class="content">
                <p>{{ post.text|truncatechars:200 }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}